<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock %} | OpenForms</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'style/base.css' %}">
	<link rel="shortcut icon" href="{% static 'images/form.svg' %}" type="image/x-icon">

	{% block head %}{% endblock %}
</head>
<body>
    <header>
        {% include 'partials/_logo.html' %}
        {% include 'partials/_nav.html' %}
        {% include 'partials/_menu.html' %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

</body>
</html>
