main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    text-align: center;
    max-width: 45%;
    font-size: 1.1rem;
}

.features {
    padding: 12px;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.features > h2 {
    padding: 12px;
}

.feature-cards > .feature-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 300px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 2px solid rebeccapurple;
    border-radius: 18px;
}

#get-started-button {
    margin-top: 2rem;
    align-self: center;
    width: 30%;
    color: white;
    background-color: rebeccapurple;
    padding: 12px;
    border-radius: 18px;
}
